/* Adjustments to panopoly layouts */

body {
  #content {
    /** Mccoppin Layout */
    .mccoppin-column2 {
      width: 26.5% !important;
      padding-top: 10px;
    }
    
    .mccoppin-column3 {
      width: 21.5% !important;
      margin-left: 20px;
    }
    
    .mccoppin-column-content-region-inner {
      margin-right: 0px !important;
    }
  }
}
